.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}

.btn-icon + .btn-title,
.btn-title + .btn-icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

//  Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0px 2px 8px rgba(0 0 0 / 8%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        border-color: var(--primary);
    }
}

.outline {
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: currentColor;

    &:hover {
        color: currentColor;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//  Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.medium {
    min-width: 100px;
    padding: 9px 16px;
}

.large {
    min-width: 160px;
    padding: 14px 16px;
}
